/*

---
name: Social
category:
 - Design
 - Design/Icons
icons: [
 'icon-facebook',
 'icon-google',
 'icon-linkedin',
 'icon-twitter',
 'icon-youtube',
 'icon-mail'
 ]
compile: true
---

```ejs
<% for(var i=0; i < icons.length; i++) { %>
<svg width="32" height="32"><use xlink:href="#<%- icons[i] %>" /></svg>
<% } %>
```

*/

/*

---
name: Control
category:
 - Design
 - Design/Icons
icons: [
 'menu',
 'icon-search'
 ]
compile: true
---

```ejs
<% for(var i=0; i < icons.length; i++) { %>
<svg width="32" height="32"><use xlink:href="#<%- icons[i] %>" /></svg>
<% } %>
```

*/
